.service-card {
  width: 262px;
  height: 269px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: clamp(27px, calc(27px + 0.0046 * (100vw - 375px)), 32px);
  border-radius: 30px;
  padding: 35px 70px;
  box-shadow: 4px 4px 30px hsla(0, 0%, 0%, 0.1);
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  font-size: var(--fs-service-title);
  font-weight: 700;
}
