.primary-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: clamp(40px, calc(40px + 0.0751 * (100vw - 375px)), 120px);
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  padding: 30px;
  z-index: 9999;
  background-color: var(--clr-neutral-100);
}

.logo-container {
  display: flex;
  align-items: center;
  gap: clamp(1.5px, calc(1.5px + 0.0089 * (100vw - 375px)), 10.5px);
  cursor: pointer;
}

.logo-container span {
  display: block;
}

.logo-container span:first-child {
  font-weight: 700;
}

.primary-logo {
  width: clamp(32px, calc(32px + 0.0197 * (100vw - 375px)), 53px);
}

.overlay {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  transition: opacity 0.3s ease;
}
