.testimonial-card {
  width: clamp(340px, calc(340px + 0.0375 * (100vw - 375px)), 380px);
  height: clamp(257px, calc(257px + 0.0779 * (100vw - 375px)), 335px);
  padding: 2.5em;
  border-radius: 20px;
  box-shadow: 0px 8px 24px hsla(0, 0%, 0%, 0.05);
}

.testimonial-provider {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 25px;
}

.testimonial-image-container {
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
}

.testimonial-image-container img {
  position: relative;
  top: -10px;
}

.testimonial-name {
  font-size: var(--fs-testimonial-name);
  font-weight: 600;
  color: var(--clr-primary-400);
}

.testimonial-job {
  font-size: 11px;
  opacity: 50%;
}

.testimonial-content {
  font-size: var(--fs-testimonial-text);
  opacity: 80%;
}

@media (max-width: 1200px) and (min-width: 750px) {
  .testimonial-card {
    flex: 1 0 calc(50% - 25px);
    scroll-snap-align: start;
  }
}

@media (max-width: 750px) {
  .testimonial-card {
    flex: 1 0 100%;
    scroll-snap-align: start;
  }
}
