.testimonials-section {
  margin-bottom: clamp(100px, calc(100px + 0.0967 * (100vw - 375px)), 203px);
  position: relative;
}

.testimonials-container {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 1rem;
  position: relative;
  scrollbar-width: none;
  margin-top: clamp(35px, calc(35px + 0.014 * (100vw - 375px)), 50px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.slider-indicators {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  display: block;
  width: 8px;
  height: 8px;
  background-color: #ccc;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.dot.active {
  background-color: #000;
}

.blue-bubbles-img {
  position: absolute;
  left: 200px;
  top: -48px;
  transform: rotate(14.48deg);
  width: 70px;
}

@media (max-width: 750px) {
  .testimonials-container {
    scroll-behavior: smooth;
  }

  .blue-bubbles-img {
    display: none;
  }
}
